USE [master]
GO
/****** Object:  Database [AssessementDB]    Script Date: 25/01/2024 12:12:46 μμ ******/
CREATE DATABASE [AssessementDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST1DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TEST1DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST1DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\TEST1DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AssessementDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AssessementDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 25/01/2024 12:12:46 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Match]    Script Date: 25/01/2024 12:12:46 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Match](
	[ID] [int] NOT NULL,
	[Description] [nvarchar](max) NULL,
	[MatchDate] [nvarchar](max) NULL,
	[MatchTime] [nvarchar](max) NULL,
	[TeamA] [nvarchar](max) NULL,
	[TeamB] [nvarchar](max) NULL,
	[Sport] [int] NULL,
 CONSTRAINT [PK_Match] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MatchOdds]    Script Date: 25/01/2024 12:12:46 μμ ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MatchOdds](
	[ID] [int] NOT NULL,
	[MatchId] [int] NULL,
	[Specifier] [nchar](10) NULL,
	[Odd] [float] NULL,
 CONSTRAINT [PK_MatchOdds] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_MatchOdds_MatchId]    Script Date: 25/01/2024 12:12:46 μμ ******/
CREATE NONCLUSTERED INDEX [IX_MatchOdds_MatchId] ON [dbo].[MatchOdds]
(
	[MatchId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[MatchOdds]  WITH CHECK ADD  CONSTRAINT [FK_MatchOdds_Match_MatchId] FOREIGN KEY([MatchId])
REFERENCES [dbo].[Match] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[MatchOdds] CHECK CONSTRAINT [FK_MatchOdds_Match_MatchId]
GO
USE [master]
GO
